<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    {% macro inputstyle(name, value='', type='checkbox') %}
    <input name="{{ name }}" value="{{ value }}" type="{{ type }}">
    {% endmacro %}


    <h1>这是一个html测试文件</h1>
    <h2>您目前对哪些技术感兴趣？</h2>
    <p>{{ inputstyle('Python') }} Python</p>
    <p>{{ inputstyle('Java') }} Java</p>
    <p>{{ inputstyle('big_data') }} 大数据</p>
    <p>{{ inputstyle('JavaScript') }} JavaScript</p>
    <p>{{ inputstyle('commit', value="提交", type="button") }}</p>

</body>
</html>